<a href="https://colab.research.google.com/github/mjkmain/mjkmain/blob/main/3%EC%A3%BC_%EA%B3%BC%EC%A0%9C_20181796_%EA%B9%80%EB%AF%BC%EC%A4%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
samsung=50000
tot=10*samsung
print(tot)

500000

In [ ]:
a= "132"
print(type(a))

<class 'str'>

In [ ]:
num_str="720"
num=int(num_str)
print(num)
print(type(num))

720
<class 'int'>

In [ ]:
pi = 3.141592
pi = str(pi)
print(pi,type(pi))

3.141592 <class 'str'>

In [ ]:
pi="3.141592"
pi=float(pi)
print(pi,type(pi))

3.141592 <class 'float'>

In [ ]:
price_month=48584
price_tot=price_month*36
print(price_tot)

1749024

In [ ]:
A=input()
B=input()
result=int(A)+int(B)
print(result)

30
10
40

In [ ]:
values= input()
values= values.split()
a = int(values[0])
b = int(values[1])
result = a + b
print(result)

30 10
40

In [ ]:
A=input()
B=input()
result=int(A)/int(B)
print(result)

30
10
3.0

In [ ]:
values = input()
values = values.split()
A=int(values[0])
B=int(values[1])
result=(A/B)
print(result)

30 10
3.0

In [ ]:
num=input()
num=num.split()
A=int(num[0])
B=int(num[1])
print("A+B:",A+B,"\nA-B:",A-B,"\nA*B:",A*B,"\nA/B:",A//B,"\nA%B:",A%B )

32 3
A+B: 35
A-B: 29
A*B: 96
A/B: 10
A%B: 2

In [ ]:
a='76.3'
b=float(a)
a=float(a)
print(a+b)

152.6

In [ ]:
a='76.3'
b=a
print(a+b)

76.376.3

In [ ]:
# a='76.3'
# b=float(a)
# print(a+b)

In [ ]:
s="Hello. Python \n"
t="Hello 00p\n"
r=s+t
print(r)

Hello. Python
Hello 00p

In [ ]:
 s="Hello. python!!\n"
 t=s*5
 print(t)

Hello. python!!
Hello. python!!
Hello. python!!
Hello. python!!
Hello. python!!

In [ ]:
#최초로 이익이 발생하는 판매량(>손익분기점)을 출력한다.
#이익이 발생하지 않으면 -1을 출력한다.
values=input()
values=values.split()
A=int(values[0])
B=int(values[1])
C=int(values[2])

if (C-B)<=0:
  x=-1
else:
  x=A//(C-B)
  x+=1
  print(x)

1000 70 170
11