<a href="https://colab.research.google.com/github/mjkmain/mjkmain/blob/main/4%EC%A3%BC%EC%B0%A8_20181796_%EA%B9%80%EB%AF%BC%EC%A4%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 문제 1. 학번과 이름이 다음과 같을 때 이름만 출력하기
license_plate = "20181796 김민준"  # 수강생 분의 학번, 이름 반영 바랍니다.

# 정답 1.
name=license_plate[-3:]
print(name)

김민준

In [ ]:
# 문제 2. 아래의 전화번호에서 하이픈('-')을 제거하고 출력하기
phone_number = "010-1111-2222"

# 정답 2.
phone_number_1=phone_number.replace('-','')
print(phone_number_1)

01011112222

In [ ]:
# 문제 3. 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하기
string = "abcdfe2a354a32"

# 정답 3.
string_upperA=string.replace('a','A')
print(string_upperA)

NameError: ignored

In [ ]:
# 문제 4. 문자열을 소문자 btc_krw로 변경하기
ticker = "BTC_KRW"

# 정답 4.
ticker_lower=ticker.lower()
print(ticker_lower)

btc_krw

In [ ]:
# 문제 5. 파일 이름이 문자열로 저장되어 있을 때, startswith 함수로
# 파일 이름이 '2020'로 시작하는지 확인하기
file_name = "2020_보고서.xlsx"

#정답 5.
file_name.startswith('2020')

True

In [ ]:
# 문제 6. 아래 문자열을 endswith 함수로 파일 이름이 'xlsx'로 끝나는지 확인하기
file_name = "보고서.xlsx"

# 정답 6.
file_name.endswith('xlsx')

True

In [ ]:
# 문제 7. 다음의 문자열을 btc, krw로 나누기
ticker = "btc_krw"

# 정답 7.
ticker_split = ticker.split('_')
print(ticker_split)

['btc', 'krw']

In [ ]:
# 문제 8. lang1과 lang2 리스트의 원소를 모두 갖는 langs 리스트 만들고 출력하기
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

# 정답 8.
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
# 문제 9. 다음 리스트에 저장된 데이터의 개수를 화면에 출력하기
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면"]

# 정답 9.
len(cook)

8

In [ ]:
# 문제 10. 슬라이싱 사용하여 홀수만 출력하기
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 정답 10.
nums_s=nums[0::2]
print(nums_s)

[1, 3, 5, 7, 9]

In [ ]:
# 문제 11. 슬라이싱 사용하여 리스트의 숫자를 역 방향으로 출력하기
nums = [1, 2, 3, 4, 5]

# 정답 11.
nums_s=nums[::-1]
print(nums_s)

[5, 4, 3, 2, 1]

In [ ]:
# 문제 12. 리스트에 아래의 데이터가 바인딩 되어 있다.
interest = ['삼성전자', 'LG전자', 'NAVER', 'SK하이닉스','미래에셋대우']
# 아래와 같이 화면에 출력하라.
# 출력 예시: 삼성전자/LG전자/NAVER/SK하이닉스/미래에셋대우

# 정답 12.
interest_inverse=interest[::-1]
print("/".join(interest_inverse))

미래에셋대우/SK하이닉스/NAVER/LG전자/삼성전자

In [ ]:
# 문제 13. 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.
string = "삼성전자/LG전자/NAVER"
# 이를 3개의 회사 이름으로 분리시키고 결과값을 출력하라.

# 정답 13.
string_ans=string.split('/')
print(string_ans)

['삼성전자', 'LG전자', 'NAVER']

In [ ]:
# 문제 14. 다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.
ice = {
    '메로나': 1000,
    '폴로포': 1200,
    '빵빠레': 1800,
    '죠스바': 1200,
    '월드콘': 1500
}

# 정답 14.
ice['메로나']=1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 문제 15. 다음 딕셔너리에서 메로나를 삭제하라.
ice = {
    '메로나': 1000,
    '폴로포': 1200,
    '빵빠레': 1800,
    '죠스바': 1200,
    '월드콘': 1500
}

# 정답 15.
del ice['메로나']
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 문제 16. 다음 딕셔너리에서 메로나의 가격을 화면에 출력하라.
inventory = {
    # [가격, 개수]
    "메로나": [300, 20],
    "비비빅": [400, 3],
    "죠스바": [250, 100]
}

# 정답 16.
print(inventory["죠스바"][1])

100

In [ ]:
# 문제 17. 다음 딕셔너리에서 key 값으로만 구성된 리스트를 생성하라.
icecream = {"탱크보이": 1200, "폴라포": 1200, "빵빠레": 1800, "월드콘": 1500, "메로나": 1000}

# 정답 17.
list(icecream.keys())

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [ ]:
# 문제 18. 다음 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.
icecream = {"탱크보이": 1200, "폴라포": 1200, "빵빠레": 1800, "월드콘": 1500, "메로나": 1000}

# 정답 18.
list(icecream.values())

[1200, 1200, 1800, 1500, 1000]

In [ ]:
# 문제 19. 아래 두개의 튜플을 하나의 딕셔너리(result)로 변환하라.
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

# 정답 19.
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}