<a href="https://colab.research.google.com/github/mjkmain/mjkmain/blob/main/5%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C_20181796_%EA%B9%80%EB%AF%BC%EC%A4%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 문제 1. for문과 range 구문을 사용해서 0~9까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

# 정답 1.
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# 문제 2. for문과 range 구문을 사용해서 0~9까지 한 라인에 하나씩 순차적으로 본인의 이름과 함께 출력하는 프로그램을 작성하라.
# 출력 예시: 0 홍길동

# 정답 2.
for i in range(0,10):
  print(i,"김민준")

0 김민준
1 김민준
2 김민준
3 김민준
4 김민준
5 김민준
6 김민준
7 김민준
8 김민준
9 김민준

In [ ]:
# 문제 3. 월드컵은 4년에 한 번 개최된다. 2002년에 월드컵이 개최되었다.
# range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

# 정답 3.
for i in range(2002,2051,4):
  print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [ ]:
# 문제 4. 1부터 30까지의 숫자 중 3의 배수를 for문 이용하여 출력하라.

# 정답 4.
for i in range(1,31,3):
  print(i)

1
4
7
10
13
16
19
22
25
28

In [ ]:
# 문제 5. 1부터 30까지의 숫자 중 3의 배수를 리스트 내포(list comprehension)하여 출력하라.

# 정답 5.
result = [i*3 for i in range(1,11)]
print(result)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [ ]:
# 문제 6. 20부터 0까지 1씩 감소하는 숫자들을 리스트 내포하여 출력하라.

# 정답 6.
result = [i for i in range(20,-1,-1)]
print(result)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
# 문제 7. 구구단 3단을 for문, range() 이용하고 if문 없이 출력하라. 단 홀수 번째만 출력한다.
# 출력 예시: 3, 9, 15, 21, 27

# 정답 7.
for i in range(1,10,2):
  print(i*3,end=" ")

3 9 15 21 27

In [ ]:
# 문제 8. 구구단 3단을 for문, range(), if문 이용하여 출력하라. 단 홀수 번째만 출력한다.
# 출력 예시: 3, 9, 15, 21, 27

# 정답 8
for i in range(1,10):
  if i%2!=0:
    print(i*3)

3
9
15
21
27

In [ ]:
# 문제 9. 구구단 3단을 리스트 내포(range(step) 포함) 이용하여 출력하라. 단 홀수 번째만 출력한다.
# 출력 예시: 3, 9, 15, 21, 27

# 정답 9.
result = [i*3 for i in range(1,10,2)]
print(result)

[3, 9, 15, 21, 27]

In [ ]:
# 문제 10. 구구단 3단을 리스트 내포(if문 포함) 이용하여 출력하라. 단 홀수 번째만 출력한다.
# 출력 예시: 3, 9, 15, 21, 27

# 정답 10.
result = [i * 3 for i in (1, 10) if i % 2 != 0]
print(result)

[3]

In [ ]:
# 문제 11. 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

# 정답 11.
sum=0
for i in range(1,11,2):
  sum+=i
print(sum)

25

In [ ]:
# 문제 12. 두 정수 A와 B가 주어졌을 때, A와 B를 비교하는 프로그램을 작성하시오.
# 입력 시, A에 3, B에 2 입력하세요.
# 문제 링크: https://www.acmicpc.net/problem/1330

# 정답 12.
values = input()
values = values.split()
a = int(values[0])
b = int(values[1])
if a > b:
  print(a,"가", b,"보다 큽니다")
elif a < b:
  print(b,"가", a,"보다 큽니다")
else:
  print(a,"=",b, "입니다.")  
# 코드 작성: A와 B를 비교하여 결과 출력

3 3
3 = 3 입니다.